body {
   background: #f5f5f5;
}

.return-to-chest:hover {
	text-decoration: underline;
	cursor: pointer;
}

.item-hidden {
	position: absolute;
}

.undo-col {
	margin-bottom: 10px;
	height: 20px;
}

#undo {
	display: none;
}

#undo:hover {
	cursor: pointer;
	text-decoration: underline;
}

.card-action i {
    vertical-align: middle;
}