.centered-col{
	float:none;
	margin: 0 auto;
}

.home-profile-text{
	font-size: 1.8em;
	pointer-events:none;
}

.profile{
	cursor:pointer;
}

.btn-circle{
	border-radius:50% !important;
}


.list-group{
    max-height: 27em;
    overflow-y:scroll; 
}

.panel {
	border: 1px solid #ddd;
	/*pointer-events:none;*/
}

.thumbnail{
	/*pointer-events:none;*/
}

.caption {
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	pointer-events:none;
}

.btn-wrapper{
	text-align:center;
	margin:10px;
}
.top-nav{
	height:7em;
}

#title{
	text-align:center;
	line-height:85px;
	font-size:5em;
}

#btn-start-shopping{
	margin-left:5px;
}

#btn-donate{
	margin-top:2px;
}

#btn-new-profile{
/*	border:3px solid #999;
	color:#999;
	margin:25px;
	position:fixed;
	bottom:0;
	right:0;
	height:60px;
	width:60px;*/
}

#profiles{
	padding-top: 5%;
}

#manageProfiles{
	font-size:1.5em;
	border-style: solid; 
	border-width: 3px; 
	border-color:gray;
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
	padding-bottom:5%;
}
#manageProfiles:hover{
	border-color:black;
	color:black;
}
.card-reveal{
	opacity:0.9;
}

.edit-icon{
	display:block;
	vertical-align: middle;
	text-align:center;
	padding-top: 20%;
}

.edit-icon-text{
	text-align:center;
	padding-top:5%;
	pointer-events: none;
}

.add-icon{
	opacity:0.6; 
	display:block; 
	text-align:center; 
	vertical-align:middle;
	padding-top:27.5%;
}

#addToyText{
	padding-top:16%;
}

.brightness {
    display: inline-block;
    cursor:pointer;

}
.brightness:hover {
	background: #4fc3f7;
	cursor:pointer;
    opacity: .5;
}

#create-profile-modal-footer{
	text-align:center;
}

.select-file-image{
	pointer-events: none;
	display: block;
}

.file-image-text{
	pointer-events: none;
	display:block;
}

#btn-open-file{}

.child-panel-card{
	background-color:#f5f5f5 !important;
}

.child-panel-card .thumbnail img {
	height:250px;
}


.bottom-sheet{
	max-height: 100% !important;
	height:100% !important;
}

.create-profile-padding{
	padding-left: 25%;
	padding-right: 25%;
}

#new-profile-modal{
	opacity:0.95 !important;
}

.profile-image{
	pointer-events: none;
}

