.modal-dialog{
	width:2000px;
}

.modal-body{
	overflow: auto;
	/*height:600px;*/
}

#modal-left-half{
	clear:both;
}

.caption {
	text-align: center;
	pointer-events: none;
	padding-left:2px;
	padding-right:2px;
	min-height:42px;
}

.card-image{
	pointer-events:none;
}

.card-action{
	pointer-events:none;
}

.item-card{
	cursor:pointer;
}

.modifier{
	font-weight: bold;
}

#rating-price-row{
	margin-bottom:20px;
	margin-left:2px;
	margin-right:2px;
}

.half-star {
    /*width:6.45px;*/
    overflow:hidden;
    color: #FFCC00;
}

.unused-star{
	opacity:0;
}

.filled {
	color: #FFCC00;
}

.frame-star {
	color: rgba(51, 51, 51, 0.17);
}

.glyphicon-star{
	font-size:20px;
}

.stars-frame{
	position:absolute;
	top:0;
 	left:0;
 	/*float:left;*/
}

.modal {
	width:70% !important;
	max-height:80% !important;
	font-size: 14px !important;
	padding: 0px 30px 0px 30px !important;
}

.modal-title{
	font-size:18px;
}

#modal-thumbnail {
	width:350px;
}

#modal-ratings{
	position:relative;
	/*float:left;*/
}

#modal-price{
	font-size:20px;
	float:right;
}

#btn-wishlist{
	background-color:rgba(51, 51, 51, 0.36);
	border-color:rgba(51, 51, 51, 0.36);
}

.modal-button{
	margin:5px;
}

#btn-wrapper{
	text-align:center;
}

.tab-pane{
    height:350px;
    overflow-y:scroll;
}

#reviews-wrapper{
	overflow:auto;
	border: 1px solid #CCC;
	padding:5px;
}
.review-header{
	margin-bottom:5px;
}
.review-rating{
	float:right;
}
.review-summary{
	font-style:italic;
}

.subtext{
	font-size:smaller;
	color: #777;
}

#back-button{
	cursor:pointer;
}

.filter-btn{
	margin-left:10px;
	cursor:pointer;
}

#filters-row{
	text-align:center;
}

.selected{
	box-shadow: none !important;
	background-color:rgba(38, 166, 154, 0.39) !important;
}

.chip-icon {
	pointer-events:none;
	padding-left: 0px !important;
	margin-right:10px !important;
}

.disabled-btn {
	background-color: rgba(51, 51, 51, 0.21) !important;
}

#search-nav{
	/*background-color:white;*/
}