.shop-link {
    font-size: 2rem;
    color:#5a5a5a;
}

.shop-link-text {
    margin-right: -15px;
    margin-left: 15px;
}

.shop-link-hover {
    color: #fff;
    cursor:pointer;
}

.undo-col {
	margin-top: 7px;
	height: 20px;
}

.undo {
	display: none;
}

.undo:hover {
	cursor: pointer;
	text-decoration: underline;
}

.card-action i {
    vertical-align: middle;
}

.card-title {
    color: #000 !important;
    background: rgba(255, 255, 255, 0.87);
    width: 100%;
}

.add-card {
    box-shadow: none !important;
}

.add-card:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    cursor: pointer;
}

.add-icon-container {
    position: relative;
    width: 100%;
}

.add-icon-container:after {
    padding-bottom: 100%;
    display: block;
    content: "";
}

.add-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.add-label {
    display: block;
    width: 100%;
    text-align: center;
}


/*choose-file-modal styling*/

.brightness {
    display: inline-block;
    cursor:pointer;

}
.brightness:hover {
    background: #4fc3f7;
    cursor:pointer;
    opacity: .5;
}

.modal-title{
    font-size:18px;
}