<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/donations.css">
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <!-- Compiled and minified CSS -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

		<script src="../jquery/js/jquery-1.12.3.min.js"></script>
		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
		<script type="text/javascript" src="../javascripts/donations.js"></script>
        <script type="text/javascript" src="../javascripts/common.js"></script>
		<title>Donations</title>
	</head>
	<body>

		<div class="container" style="margin-top: 60px;">
			<div class="row">
				<div class="col s3">
                    <div class="card z-depth-0">
                        <div class="card-image">
                            <img id="avatarImage" src="../images/john.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title">David</span>
                        </div>
                    </div>
				</div>
			</div>
			<div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s4"><a href="#toychest">ToyChest</a></li>
                        <li class="tab col s4"><a href="#donations">Donations</a></li>
                        <li class="tab col s4"><a href="#wishlist">Wishlist</a></li>
                    </ul>
                </div>
                <div class="col s12" id="donations">
                    <div class="col s12 undo-col text-right">
                        <span class="right" id="undo">Undo '<span id="undo-action">Mark as donated</span>'</span>
                    </div>
                    <div class="col s6 l4">
                        <div class="card toy z-depth-0">
                            <div class="card-image">
                                <img src="../images/obiwan.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title">Obi Wan Action Figure</span>
                            </div>
                            <div class="card-action">
                                <i class="material-icons left-align waves-effect tooltipped return" data-position="right" data-delay="50" data-tooltip="Return to toyChest">arrow_back</i>
                                <i class="material-icons right waves-effect tooltipped donate" data-position="left" data-delay="50" data-tooltip="Mark as donated">check</i>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 l4">
                        <div class="card toy z-depth-0">
                            <div class="card-image">
                                <img src="../images/color_fingers.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title">Color Wonder</span>
                            </div>
                            <div class="card-action">
                                <i class="material-icons left-align waves-effect tooltipped return" data-position="right" data-delay="50" data-tooltip="Return to toyChest">arrow_back</i>
                                <i class="material-icons right waves-effect tooltipped donate" data-position="left" data-delay="50" data-tooltip="Mark as donated">check</i>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>

	</body>
</html>