<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/donations.css">
		<script src="../jquery/js/jquery-1.12.3.min.js"></script>
		<script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../javascripts/donations.js"></script>
        <script type="text/javascript" src="../javascripts/common.js"></script>
		<title>Donations</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="index.html">Home</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="profile.html">Profile <span class="sr-only">(current)</span></a></li>
		        <li class="active"><a href="donations.html">Donations</a></li>
		        <li><a href="shopping.html">Shopping</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div id="donations-modal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Toy Chests</h4>
		      </div>
		      <div class="modal-body">
		      	<div id="toyChestModal" class="row">
		        </div>
		      </div>
		    </div>

		  </div>
		</div>

		<div class="container">
			<div class="row items">
				<div class="col-lg-12">
					<h1 class="header">Pending <span data-toggle="modal" data-target="#toychest-modal">Donations</span> <button type="button" class="btn btn-info btn-default add-donations" data-toggle="modal" data-target="#donations-modal">Add Donations</button></h1>
					<hr>
				</div>
				<div class="col-md-12 undo-col text-right">
					<span class="text-primary" id="undo">Undo '<span id="undo-action">Mark as donated</span>'</span>
				</div>
				<div class="col-md-3 item-col">
					<div class="panel panel-default donation-item">
						<div class="panel-heading">
							<div class="row">
								<div class="col col-md-10">
									<p class="toy-desc">John's Obi Wan Action Figure</p>
								</div>
								<div class="col col-md-2 text-right"><i class="fa fa-check donate-btn"></i></div>
							</div>
						</div>
						<div class="panel-body">
							<img src="../images/obiwan.jpg" class="toy-img center-block">
						</div>
						<div class="panel-footer">
							<small class="return-to-chest"><i class="fa fa-angle-left"></i> Return to John's toyChest</small>
						</div>
					</div>
				</div>
				<div class="col-md-3  item-col">
					<div class="panel panel-default donation-item">
						<div class="panel-heading">
							<div class="row">
								<div class="col col-md-10">
									<p class="toy-desc">John's Kylo Ren Ship</p>
								</div>
								<div class="col col-md-2 text-right"><i class="fa fa-check donate-btn"></i></div>
							</div>
						</div>
						<div class="panel-body">
							<img src="../images/kyloren.jpg" class="toy-img center-block">
						</div>
						<div class="panel-footer">
							<small class="return-to-chest"><i class="fa fa-angle-left"></i> Return to John's toyChest</small>
						</div>
					</div>
				</div>
				<div class="col-md-3  item-col">
					<div class="panel panel-default donation-item">
						<div class="panel-heading">
							<div class="row">
								<div class="col col-md-10">
									<p class="toy-desc">David's Fire Blaster</p>
								</div>
								<div class="col col-md-2 text-right"><i class="fa fa-check donate-btn"></i></div>
							</div>
						</div>
						<div class="panel-body">
							<img src="../images/fireblaster.jpg" class="toy-img center-block">
						</div>
						<div class="panel-footer">
							<small class="return-to-chest"><i class="fa fa-angle-left"></i> Return to David's toyChest</small>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- I'm putting the toychest modal here for now to avoid merge conflicts -->
		<div id="toychest-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">John's Toy Chest</h4>
					</div>
					<div class="toychest-modal-body row">
                        <div class="col-md-12 toy-section">
                            <div class="col-md-1 col check-column">
                               <p class="checkbox"><i class="fa fa-square-o"></i></p>
                            </div>
                            <div class="col-md-6 col"><h3>Kylo Ren Ship</h3></div>
                            <div class="col-md-3 col"><img src="../images/kyloren.jpg" class="toy-image center-block"></div>
                            <div class="col-md-2 col">
                                <button class="btn btn-primary delete-toy-btn">Delete</button>
                            </div>
                        </div>
                        <div class="col-md-12 toy-section">
                            <div class="col-md-1 col check-column">
                                <p class="checkbox"><i class="fa fa-square-o"></i></p>
                            </div>
                            <div class="col-md-6 col"><h3>Obi Wan Action Figure</h3></div>
                            <div class="col-md-3 col"><img src="../images/obiwan.jpg" class="toy-image center-block"></div>
                            <div class="col-md-2 col">
                                <button class="btn btn-primary delete-toy-btn">Delete</button>
                            </div>
                        </div>
					</div>
					<div id="toychest-modal-footer" class="modal-footer">
						<button id="donate-selected-btn" type="submit" class="btn btn-primary">Donate Selected</button>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>