<!DOCTYPE html>
<html>
	<head>
		<!-- <link rel="stylesheet" href="../bootstrap-3.3.6-dist/css/bootstrap.min.css"/> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
		<!-- <link rel="stylesheet" href="../css/common.css"/> -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
		<link rel="stylesheet" href="../css/index.css"/>
		<script src="../jquery/js/jquery-1.12.3.min.js"></script>
		<!-- <script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script> -->
		<script src="../javascripts/index.js"></script>
		<script src="../javascripts/common.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
		<script src="../javascripts/load_data.js"></script>
		<title>Home</title>
	</head>
	<body>
	  <nav class="top-nav">
      <div class="container">
        <div class="nav-wrapper"><div id="title" class="page-title center">toyChest</div></div>
      </div>
    </nav>

		<!-- Modal -->
		<div id="new-profile-modal" class="modal" role="dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	    		<h4 class="modal-title center">Create new profile</h4>
	    	</div>
			  <fieldset class="form-group">
			    <label for="name">Name</label>
			    <input type="text" class="form-control" id="create-name" placeholder="First and last name">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="age">Age</label>
			    <input type="number" class="form-control" id="create-age" placeholder="Numerical value">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="interests">Interests</label>
			    <small class="text-muted">(Please separate interests with commas)</small>
			    <input type="text" class="form-control" id="create-interests" placeholder="Enter interests">
			  </fieldset> 
					<!-- <label class="control-label">Select Toy Image</label> -->
				  <form action="#">
				    <div class="file-field input-field">
				      <div id="addFile" class="btn">
				        <span>File</span>
				      </div>
				      <div class="file-path-wrapper">
				        <input id="file-path" class=" validate" type="text" placeholder="Upload a picture">
				      </div>
				    </div>
				  </form>
				<div id="create-profile-modal-footer" class="modal-footer">
	    		<button id="btn-create-profile" type="submit" class="btn btn-primary">Create</button>
	    	</div>
	    </div>
		</div>


		<div id="choose-file-modal" class="modal" role="dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	    		<h4 class="modal-title">Open</h4>
	    	</div>
	    	<div id="localImages" class="row">

			  </div>
				<div id="create-profile-modal-footer" class="modal-footer">
					<div class="row">
					  <div class="input-field col s8 m8">
					  	<input placeholder="File name" id="file-name" type="text" class="validate">
					  </div>
					  <div class="input-field col s4 m4">
					    <select>
					      <option value="" disabled selected>All Files(*.*)</option>
					      <option value="1">.png</option>
					    </select>
					  </div>
					<div class="col s12 m12">
	    		<a id="btn-cancel-file" class="modal-action btn-flat waves-effect waves-light">Cancel</a>
	    		<a id="btn-open-file"class="modal-action btn-flat waves-effect waves-light">Open</a>
	    		</div>
	    		</div>
	    	</div>
	    </div>
		</div>




		<div class = "row" >
			<div class="col m8 offset-m2" id="profiles"></div>
	  	</div>
	    <div class="row">
	      <div class="col m2 s2 offset-m5 offset-s5 offset-m4" >
	        <div id="manageProfiles" class="activator card-panel center waves-effect waves-block waves-light">
	          <span class="gray-text text">Manage Profiles</span>
	        </div>
	      </div>
	    </div>
	</body>

</html>