<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/toys.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <script src="../jquery/js/jquery-1.12.3.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="../javascripts/toys.js"></script>
    <script type="text/javascript" src="../javascripts/index.js"></script>
    <script type="text/javascript" src="../javascripts/common.js"></script>
</head>
<body>

<!-- end of nav bar and start of actual code -->
    <!-- Modal -->
    <div id="edit-profile-modal" class="modal bottom-sheet" role="dialog">
        <div class="modal-content col s6 m6 l6">
            <div class="modal-header">
                <h4 class="modal-title center">Edit Profile<i class="material-icons right modal-close">close</i></h4>
            </div>
            <div class="container" >
                <div class="row">
                    <div class="col s5 m5 l5 center offset-s1 offset-m1 offset-l1">
                        <table>
                            <tr align="center">
                                <td>
                                    <div class="col s12 m12 l12">
                                        <h1 id="name">David</h1>
                                        <img id="avatarImage" class="responsive-img" src="../images/john.png">
                                        <div class="thumbnail col s2">
                                            
                                        </div>
                                        <div class="btn-wrapper col s12 m12 l12">
                                            <button class="btn btn-default" data-toggle="modal" data-target="#wishlist-modal">Wishlist</button>
                                            <button id="btn-start-shopping" class="btn btn-default" style="white-space:nowrap">Start Shopping</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table> <!-- end of first half of page -->
                    </div>


                    <div class="col s5 m5 l5">
                        <div class="row" id='profile-table'>
                            <div class="col s12 m12 l12">
                                <br><br>
                                <div class='col s12 m12 l12' style="color:blue"><h4>Name</h4></div>
                                <div class="col s12 m12 l12">
                                    <span id="nameField-span" class="edit-name h3">David</span>
                                    <input type='text' class="form-control" id='nameField-input' onClick='this.select()'>
                                    <span class="edit-name" id="name-pencil"><i class="fa fa-pencil"></i></span>
                                </div>
                            </div>
                            <div class="col s12 m12 l12">
                                <div class='col s12 m12 l12' style="color:blue"><h4>Age</h4></div>
                                <div class="col s12 m12 l12"><span id="ageField-span" class="edit-age h3">8</span>
                                    <input type='number' class="form-control" id='ageField-input' onClick='this.select()'>
                                    <span class="edit-age" id="age-pencil"><i class="fa fa-pencil"></i></span>
                                </div>
                            </div>
                            <div class="col s12 m12 l12">
                                <div class="col s12 m12 l12" style="color:blue"><h4>Interests</h4></div>
                                <div class="col s12 m12 l12 new-interest">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="interest-input">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" id="add-interest" type="button"><i class="fa fa-plus"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <!-- list of interests -->
                                <div class="col s12 m12 l12">
                                    <!--list of interests -->
                                    <ul id="interest-list" class='collection'>
                                        <li class="collection-item">
                                            <span>Star Wars</span>
                                            <span class="badge remove-interest"><i class="fa fa-close left"></i></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col s6 m6 l6"><button id="btn-save-changes" class="btn btn-default">Save</button></div>
                        </div>
                    </div> <!-- end of second half of page -->

                </div>
            </div>
        </div>
    </div>


        <!-- <div class="modal-content col s6 m6 l6">
            <div class="modal-header">
                <h4 class="modal-title center">Edit Profile<i class="material-icons right modal-close">close</i></h4>

            </div>
            <div class="row create-profile-padding">
              <div class="">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="create-name" placeholder="Name">
              </div>
              <div class="">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="create-age" placeholder="Numerical value">
              </div>
              <div class="">
                <label for="interests">Interests</label>
                <small class="text-muted">(Please separate interests with commas)</small>
                <input type="text" class="form-control" id="create-interests" placeholder="Enter interests">
              </div> 
                    <! <label class="control-label">Select Toy Image</label> -->
                  <!-- <form action="#">
                    <div class="file-field input-field">
                      <div id="addFile" class="btn">
                        <span>File</span>
                      </div>
                      <div class="file-path-wrapper">
                        <input id="file-path" class=" validate" type="text" placeholder="Upload a picture">
                      </div>
                    </div>
                  </form>
                  <button id="btn-create-profile" type="submit" class="btn right">Create</button>
                </div>

                <div id="create-profile-modal-footer" class="modal-footer class="row create-profile-padding"">
                
            </div>
        </div>
         -->

<script src="../javascripts/common.js"></script>
<script src="../javascripts/profile.js"></script>
</body>
</html>