<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<link rel="stylesheet" href="../bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
		<script src="../jquery/js/jquery-1.12.3.min.js"></script>
		<script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/profile.css" />
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="index.html">Home</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li  class="active"><a href="profile.html">Profile <span class="sr-only">(current)</span></a></li>
		        <li><a href="donations.html">Donations</a></li>
		        <li><a href="shopping.html">Shopping</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li id="name-present" class="dropdown">
		          <a id="nav-bar-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventories<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Wishlist</a></li>
		            <li><a href="#">ToyChest</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a class="btn-choose-child" href="#">Change child</a></li>
		          </ul>
		          <li id="name-not-present"><a class="btn-choose-child" href="#" role="botton">Choose child</a></li>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<!-- end of nav bar and start of actual code -->

		<div class="col-md-offset-2 col-md-4">
			<table>
				<tr align="center">
					<td>
						<div>
							<h1 id="name">David</h1>
							<div class="thumbnail">
							<img id="avatarImage" src="../images/cute cat.jpg">
							</div>
							<div class="btn-wrapper">
								<button class="btn btn-default">Wishlist</button>
								<button id="btn-start-shopping" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Start Shopping</button>
							</div>
						</div>
					</td>
				</tr>
			<tr align="center">
				<td>
					<input type="image" src="../images/toyChest.jpg" onClick="viewToyChest()">
				</td>
			</tr>
			</table> <!-- end of first half of page -->
		</div>


		<div class="col-md-6">
			<table id='profile-table'>
			<tr class="space-under">
				<td class='first-col'><label>Name:</label></td>
				<td><span id="nameField-span" class="form-span edit-name">David</span>
				<input type='text' id='nameField-input' onClick='this.select()' placeholder='First and last name'>
				<span class="glyphicon glyphicon-pencil blue edit-name" height="50"></span>
				</td>
			</tr>
			<tr class="space-under">
				<td><label>Age:</label></td>
				<td><span id="ageField-span" class="form-span edit-age">8</span>
				<input type='number' id='ageField-input' onclick='this.select()' placeholder='Numerical value'>
				<span class="glyphicon glyphicon-pencil blue edit-age" height="50"></span>
				</td>
			</tr>
			<tr class="space-under">
				<td><label>Interests:</label></td>
				<td><span id="interestsField-span" class="form-span edit-interests"></span>
				<input type='text' id='interestsField-input' onclick='this.select()' placeholder='Add one interest at a time'>
				<span id="interestsPencil" class="glyphicon glyphicon-pencil blue edit-interests" height="50"></span>
				<span id="add-interest" class="glyphicon glyphicon-plus green" height="50"></span>
				</td>
					<!-- list of interests -->
					<table id="interestsTable" class='alnright' border="0">
						<tr class="panel panel-default">
							<td class='first-col'></td>
							<td class='second-col'>Star Wars &nbsp;&nbsp;</td>
							<td class='third-col'><span id='interest-0' class='glyphicon glyphicon-remove red remove-interest'></span></td>
						</tr>
					</table>
			</div>
			<br>
			<button id="btn-save-changes" class="btn btn-default">Save</button>
		</div> <!-- end of second half of page -->

	<div id="choose-child-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Choose a child</h4>
	      </div>
	      <div id="choose-child-body" class="modal-body">
	      	<div class="row">
		      	<div id="profile-john" class="col-md-6 child-card">
		      		<div class="panel">
		      			<div class="thumbnail">
		      				<img src="../images/cute cat.jpg">
		      			</div>
		      			<div class="caption">John</div>
		      		</div>
		      	</div>
		      	<div id="profile-david" class="col-md-6 child-card">
		      		<div class="panel">
		      			<div class="thumbnail">
		      				<img src="../images/cute cat.jpg">
		      			</div>
		      			<div class="caption">David</div>
		      		</div>
		      	</div>
		      </div>
	      </div>
	      <div id="create-profile-modal-footer" class="modal-footer">
	      </div>
	    </div>

	  </div>
	</div>
		<script src="../javascripts/common.js"></script>
	  	<script src="../javascripts/profile.js"></script>
	</body>
</html>