<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<link rel="stylesheet" href="../bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
		<script src="../jquery/js/jquery-1.12.3.min.js"></script>
		<script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/profile.css" />
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="index.html">Home</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li  class="active"><a href="profile.html">Profile <span class="sr-only">(current)</span></a></li>
		        <li><a href="donations.html">Donations</a></li>
		        <li><a href="shopping.html">Shopping</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li id="name-present" class="dropdown">
		          <a id="nav-bar-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventories<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#" data-toggle="modal" data-target="#wishlist-modal">Wishlist</a></li>
		            <li><a href="#" id="btn-toychest">ToyChest</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a class="btn-choose-child" href="#">Change child</a></li>
		          </ul>
		          <li id="name-not-present"><a class="btn-choose-child" href="#" role="botton">Choose child</a></li>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<!-- end of nav bar and start of actual code -->

		<div class="col-md-offset-2 col-md-4">
			<table>
				<tr align="center">
					<td>
						<div>
							<h1 id="name">David</h1>
							<div class="thumbnail">
							<img id="avatarImage" src="../images/cute cat.jpg">
							</div>
							<div class="btn-wrapper">
								<button class="btn btn-default" data-toggle="modal" data-target="#wishlist-modal">Wishlist</button>
								<button id="btn-start-shopping" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Start Shopping</button>
							</div>
						</div>
					</td>
				</tr>
			<tr align="center">
				<td>
					<input type="image" src="../images/toyChest.jpg"  data-toggle="modal" data-target="#toychest-modal">
				</td>
			</tr>
			</table> <!-- end of first half of page -->
		</div>


		<div class="col-md-6">
			<table id='profile-table'>
			<tr class="space-under" style="width:1000px">
				<td class='first-col'><label class="h1" style="width:20%">Name:</label></td>
				<td><span id="nameField-span" class="form-span edit-name" style="width:50%">David</span>
				<input type='text' class="form-control" id='nameField-input' onClick='this.select()' placeholder='First and last name' style="width:50%">
				<span class="glyphicon glyphicon-pencil blue edit-name" height="80" style="width:20%"></span>
				</td>
			</tr>
			<tr class="space-under" style="width:1000px">
				<td><label class="h1" style="width:20%">Age:</label></td>
				<td><span id="ageField-span" class="form-span edit-age" style="width:50%">8</span>
				<input type='number' class="form-control" id='ageField-input' onClick='this.select()' placeholder='Numerical value' style="width:50%">
				<span class="glyphicon glyphicon-pencil blue edit-age" height="80" style="width:20%"></span>
				</td>
			</tr>
			<tr class="space-under" style="width:1000px">
				<td><label class="h1" style="width:10%">Interests:&nbsp;</label></td>
				<td><span id="interestsField-span" class="form-span edit-interests form-control" height="100" style="width:50%"></span>
				<input type='text' class="form-control ad-left" id='interestsField-input' onClick='this.select()' style="width:80%" height="100" placeholder='Add one interest at a time'>
				<span id="interestsPencil" class="glyphicon glyphicon-pencil blue edit-interests padding" height="80" style="width:10%"></span>
				<span id="add-interest" class="glyphicon glyphicon-plus green" height="80" style="width:20%"></span>
				</td>
					<!-- list of interests -->
					<table id="interestsTable" class='alnright' border="0">
						<!-- list of interests -->
						<ul id="interestsTable" class='alnright list-group' border="0">
							<li class='first-col'></li>
							<li class='second-col h2'>Star Wars &nbsp;&nbsp;</li>
							<li class='third-col'><span id='interest-0' class='glyphicon glyphicon-remove red remove-interest'></span></li>
						</ul>
					</table>
			</div>
			<br> <br>
			<button id="btn-save-changes" class="btn btn-default">Save</button>
		</div> <!-- end of second half of page -->

	<div id="choose-child-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	    <!--     <button type="button" class="close" data-dismiss="modal">&times;</button> -->
	        <h4 class="modal-title">Choose a child</h4>
	      </div>
	      <div id="choose-child-body" class="modal-body">
	      	<div class="row">
		      	<div id="profile-john" class="col-md-6">
		      		<div class="panel child-card">
		      			<div class="thumbnail">
		      				<img src="../images/john.png">
		      			</div>
		      			<div class="caption">John</div>
		      		</div>
		      	</div>
		      	<div id="profile-david" class="col-md-6">
		      		<div class="panel child-card">
		      			<div class="thumbnail">
		      				<img src="../images/david.png">
		      			</div>
		      			<div class="caption">David</div>
		      		</div>
		      	</div>
		      </div>
	      </div>
	      <div id="create-profile-modal-footer" class="modal-footer">
	      </div>
	    </div>

	  </div>
	</div>

     <!-- Toy Chest Modal  -->
    <div id="toychest-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="toychest-name">John</span>'s Toy Chest</h4>
                </div>
                <div class="toychest-modal-body row">
                    <div class="col-md-12 toy-section">
                        <div class="col-md-1 col check-column">
                            <p class="checkbox"><i class="fa fa-square-o"></i></p>
                        </div>
                        <div class="col-md-6 col"><h3>Kylo Ren Ship</h3></div>
                        <div class="col-md-3 col"><img src="../images/kyloren.jpg" class="toy-image center-block"></div>
                        <div class="col-md-2 col">
                            <button class="btn btn-primary delete-toy-btn">Delete</button>
                        </div>
                    </div>
                    <div class="col-md-12 toy-section">
                        <div class="col-md-1 col check-column">
                            <p class="checkbox"><i class="fa fa-square-o"></i></p>
                        </div>
                        <div class="col-md-6 col"><h3>Obi Wan Action Figure</h3></div>
                        <div class="col-md-3 col"><img src="../images/obiwan.jpg" class="toy-image center-block"></div>
                        <div class="col-md-2 col">
                            <button class="btn btn-primary delete-toy-btn">Delete</button>
                        </div>
                    </div>
                </div>
                <div id="toychest-modal-footer" class="modal-footer">
                    <button id="donate-selected-btn" type="submit" class="btn btn-primary">Donate Selected</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Wishlist Modal  -->
    <div id="wishlist-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="wishlist-name">John</span>'s Wishlist</h4>
                </div>
                <div class="wishlist-modal-body row">
                    <div class="col-md-12 toy-section">
                        <div class="col-md-1 col check-column">
                            <p class="checkbox"><i class="fa fa-square-o"></i></p>
                        </div>
                        <div class="col-md-6 col"><h3>Fire Blaster</h3></div>
                        <div class="col-md-3 col"><img src="../images/fireblaster.jpg" class="toy-image center-block"></div>
                        <div class="col-md-2 col">
                            <button class="btn btn-primary purchase-toy-btn">Purchase</button>
                        </div>
                    </div>
                    <div class="col-md-12 toy-section">
                        <div class="col-md-1 col check-column">
                            <p class="checkbox"><i class="fa fa-square-o"></i></p>
                        </div>
                        <div class="col-md-6 col"><h3>Rex Dinosaur</h3></div>
                        <div class="col-md-3 col"><img src="../images/dinosaur.jpg" class="toy-image center-block"></div>
                        <div class="col-md-2 col">
                            <button class="btn btn-primary purchase-toy-btn">Purchase</button>
                        </div>
                    </div>
                </div>
                <div id="wishlist-modal-footer" class="modal-footer">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="delete-selected-btn" type="submit" class="btn btn-primary">Delete Selected</button>
                </div>
            </div>
        </div>
    </div>


		<script src="../javascripts/common.js"></script>
	  	<script src="../javascripts/profile.js"></script>
	</body>
</html>