<!DOCTYPE html>

<!--
-->
<html>

<head>
<meta charset="UTF-8">
<title>Shopping</title>

<!-- Load style sheets -->
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/shopping.css" />
<!-- <link rel="stylesheet" href="../bootstrap-3.3.6-dist/css/bootstrap.min.css"/> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
</head>

<div id="child-header" class="row header">
	<div class="col s2 valign-wrapper">
		<i id="left-arrow" class="material-icons large">keyboard_arrow_left</i>
	</div>
    <div class="col s2 valign-wrapper">
        <div id="selected-child" class="child-thumbnail valign">
            <img  class="responsive-img child-image">
            <span class="child-name"></span>
            <div class="thumbnail-overlay">
                <i class="material-icons large swap-icon">swap_horiz</i>
            </div>
        </div>
    </div>
</div>

<div class="row">
   <nav>
    <div class="nav-wrapper">
      <div class="col m6 offset-m3">
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i id="search-icon" class="material-icons icon-blue">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </div>
    </div>
  </nav>
</div>
<!--  <div class="row">
    <form class="col m6 offset-m3">
      <div class="row">
        <div class="input-field col m12">
          	<i class="material-icons prefix">search</i>
          <input id="search" class="search"></input>
        </div>
      </div>
    </form>
</div> -->

	<div class="row" id="filters-row">
		<div id="filters-wrapper" class="col m6 offset-m3">
		</div>
	</div>


	<div id="search-content">
	   	
	</div>


<!-- Modal -->
<div id="myModal" class="modal " role="dialog">
  <!-- <div class="modal-dialog modal-lg"> -->

    <!-- Modal content-->
    <div class="modal-content">
<!--       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title item-title">Modal Header</h4>
      </div> -->
      <!-- <div class="modal-body"> -->
      <p class="modal-title item-title">Modal Header</h4>
      </p>
      <div class="row">
        <!-- <div id="modal-left-half" class="col-sm-6"> -->
        <div id="modal-left-half" class="col m6">
	        <!-- <div id="modal-thumbnail" class = "thumbnail"></div> -->
	        <div id="modal-thumbnail" class="responsive-img"></div>
	        <div id="rating-price-row" class="row">
	        <div class="col m6">
	        	<div id="modal-ratings">
		        	<div class="stars-frame">
		        		<i class="glyphicon glyphicon-star frame-star"></i>
						<i class="glyphicon glyphicon-star frame-star"></i>
						<i class="glyphicon glyphicon-star frame-star"></i>
						<i class="glyphicon glyphicon-star frame-star"></i>
						<i class="glyphicon glyphicon-star frame-star"></i>
		        	</div>
		        	<div class="stars-frame">
			        	<i id="shaded-star-0" class="glyphicon glyphicon-star shaded-star"></i>
						<i id="shaded-star-1" class="glyphicon glyphicon-star shaded-star"></i>
						<i id="shaded-star-2" class="glyphicon glyphicon-star shaded-star"></i>
						<i id="shaded-star-3" class="glyphicon glyphicon-star shaded-star"></i>
						<i id="shaded-star-4" class="glyphicon glyphicon-star shaded-star"></i>
					</div>
		        </div>
	        </div>
		    <div class="col m6">
		    	<div id="modal-price"></div>
		    </div>  
			</div>
			<div id="btn-wrapper" class="row">
	        	<div id="modal-buttons">
		        	<button type="button" id="btn-wishlist" class="btn btn-info modal-button">Add to Wishlist</button>
		        	<button type="button" id="btn-purchase" class="btn btn-info modal-button">Purchase</button>
		        </div>
			</div>
	    </div>
        <!-- <div id="modal-right-half" class="col-sm-6"> -->
        <div id="modal-right-half" class="col m6">
        	<div id="modal-item-details">
	        	<p><span class="modifier">Seller: </span><span id="seller"></span> </p>
	        	<p><span class="modifier">Description: </span><span id="description"></span></p>
	        	<p><span class="modifier">Rating: </span><span id="rating-number"></span></p>
	        	<p><span class="modifier">Age: </span><span id="age"></span></p>
	       <!--  	<p><span class="modifier">Notes: </span><span id="notes"></span></p> -->
	        	<div id="reviews-wrapper"><span class="modifier">Reviews: </span>
	        		<div class="col-xs-12">
	        			<div class="tab-content"><div class="tab-pane active" id="reviews-body">
	        			</div></div>
	        		</div>
				</div>
				</div>
	        </div>
        </div>
      <!-- </div> -->
    </div>

  </div>
</div>

  <script src="../jquery/js/jquery-1.12.3.min.js"></script>
  <script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
  <script src="../jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <!-- <script src="../javascripts/load_data.js"></script> -->
  <script src="../javascripts/common.js"></script>
  <script src="../javascripts/shopping.js"></script>
</body>

</html>